# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
/src/routes/Station/TaskDetail - 副本.js
/src/routes/Station/console
/src/routes/luqingyuetest
# production

# misc
.DS_Store
npm-debug.log*

#svn
.svn

#webstorm
.idea

#vscode
.vscode

/coverage

yarn.lock
package-lock.json

eslint_check_file.html

report.*.json
