@import "~antd/lib/style/themes/default.less";

.south {
  min-height: 80px;
  padding: 10px 0 0px 20px;
  background: #fff  center;

  span>{
    color: #2f8aff;
    font-size: 40px;
  }
}

.bg {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3de7ff, endcolorstr=#2f8aff, gradientType=1);
  background: #2f8aff; /* 一些不支持背景渐变的浏览器 */
  background: linear-gradient(to right, #3de7ff, #2f8aff);
  & > img {
    max-height: 80vh;
  }
}

.ad {
  position: absolute;
  left: calc(~"50% - 476px");
  top: 170px;
}

.top {
  text-align: center;
}

.header {
  height: 44px;
  line-height: 44px;
  a {
    text-decoration: none;
  }
}

.logo {
  height: 44px;
  vertical-align: top;
  margin-right: 16px;
}

.title {
  font-size: 33px;
  color: @heading-color;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: relative;
  top: 2px;
}

.desc {
  font-size: @font-size-base;
  color: @text-color-secondary;
  margin-top: 12px;
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
